<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>F1 Studio</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../index.html">
                <div class="sidebar-brand-text mx-3">Formula 1</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="../index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item active">
                <a class="nav-link">
                    <span>Drivers</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="circuits.html">
                    <span>Circuits</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="constructors.html">
                    <span>Constructors</span>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="races.html">
                    <span>Races</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="results.html">
                    <span>Results</span>
                </a>
            </li>
            <hr class="sidebar-divider">


        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="">Drivers</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="selectedYear" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    2019
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="max-height: 200px; overflow-y:auto;">
                                    <a class="dropdown-item" href="#" v-for="n in 70">{{ 2020 - n}}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">All</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">

                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-danger active" onclick="visualizza(0)">
                                    <input type="radio" name="options" id="option2" autocomplete="off">
                                    <span class="icon">
                                        <i class="fas fa-id-card"></i>
                                    </span>
                                </label>
                                <label class="btn btn-danger" onclick="visualizza(1)">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                    <span class="icon">
                                        <i class="fas fa-table"></i>
                                    </span>
                                </label>
                            </div>
                        </form>
                    </div>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid" id="drivers">

                    <div id="tableDrivers" class="card shadow mb-4" style="display:none">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Drivers table</h6>
                        </div>
                        <div class="card-body">
                            <div class="table">
                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Constructor</th>
                                            <th>Number</th>
                                            <th>URL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in drivers">
                                            <td>{{ item.forename }} {{ item.surname }}</td>
                                            <td> {{ item.constructor }}</td>
                                            <td> {{ item.number }}</td>
                                            <td> <a class="btn btn-danger" :href="'https://' + item.url" target="_blank" role="button">Link</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Content Row -->
                    <div class="row" id="cardDrivers">

                        <div class="col-xl-3 col-md-6 mb-4" v-for="(item,index) in drivers">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <a class="text font-weight-bold text-primary text-uppercase mb-1" 
                                               data-toggle="modal" 
                                               data-target="#exampleModal" 
                                               style="cursor:pointer" 
                                               v-on:click="pos = index; ShowDriverScore(item.driverId); ShowDriverGrandPrix(item.driverId);">
                                                {{ item.forename }} {{ item.surname }}
                                            </a>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{item.constructor}} {{ item.number }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <img class="img-fluid rounded" style="width:100px" v-if="item.PathImgSmall!=''" v-bind:src="item.PathImgSmall">
                                            <img class="img-fluid rounded" style="width:100px" v-else="item.PathImgSmall==''" src="https://www.shareicon.net/data/512x512/2016/04/10/747353_people_512x512.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-if="drivers.length > 0">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="card-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <h4 class="text font-weight-bold text-primary text-uppercase mb-1" data-toggle="modal" data-target="#exampleModal"  style="cursor:pointer" v-on:click="pos = index">
                                                    {{ drivers[pos].forename}} {{ drivers[pos].surname }}
                                                </h4>
                                                <div class="h4 mb-0 font-weight-bold text-gray-800">{{ drivers[pos].constructor}}</div>
                                            </div>
                                            <div class="col-auto">
                                                <img class="img-fluid rounded" style="width:200px" v-if="drivers[pos].PathImgSmall!=''" v-bind:src="drivers[pos].PathImgSmall">
                                                <img class="img-fluid rounded" style="width:200px" v-else="drivers[pos].PathImgSmall==''" src="https://www.shareicon.net/data/512x512/2016/04/10/747353_people_512x512.png">
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item text-gray-800">Points: {{ totalScore }}</li>
                                        <li class="list-group-item text-gray-800">Grands Prix entered: {{ grandPrix }}</li>
                                        <li class="list-group-item text-gray-800">Date of birth: {{ drivers[pos].dob.split('T')[0]}}</li>
                                        <li class="list-group-item text-gray-800">Number: {{ drivers[pos].number}}</li>
                                        <li class="list-group-item text-gray-800">Nationality: {{ drivers[pos].nationality}}</li>
                                    </ul>
                                    <div class="card-body">
                                        <a :href="'https://' + drivers[pos].url" target="_blank" role="button" class="card-link">Wikipedia</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Mihai Canea &copy; School project</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

</body>

</html>